.post-wrapper {
  border: 1px solid #000000;
  padding-left: 60px;
  padding-bottom: 33px;
  width: 1116px;
}

.all-posts-container {
  display: flex;
  flex-wrap: wrap;
  left: 47px;
  top: 596px;
  margin: auto;
}

.post-container {
  margin-top: 46px;
  padding-top: 36px;
  padding-left: 60px;
  width: 1116px;
  height: 100%;
  margin-bottom: 100px;
  border: 1px solid #000000;
}

.post-item {
  box-sizing: border-box;
  padding-top: 14px;
  width: 239px;
  height: 183px;
  margin-top: 15px;
  margin-right: 13px;
  border: 1px solid #dadada;
  padding: 15px 15px 15px 15px;
}

.post-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 4px;
}

.post-span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
  margin-top: 3px;
  margin-bottom: 4px;
}

.post-body {
  padding-right: 100px;
}

.post-button {
  width: 148px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 15px;
  margin-left: 10px;
  background: #101010;
  border: 1px solid #0d1e4b;
}

.post-button-roll-up-extand {
  width: 148px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 50px;
  margin-left: 40px;
  background: #101010;
  border: 1px solid #0d1e4b;
}

.post-button-disabled {
  width: 148px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 15px;
  margin-left: 10px;
  background: #7e3d3d;
  border: 1px solid #0d1e4b;
}

.post-button-text {
  width: 200px;
  height: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-container {
  margin-top: 30px;
}

.form {
  display: flex;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.textarea {
  box-sizing: border-box;
  width: 559px;
  height: 272px;
  left: 497px;
  top: 786px;
  border: 1px solid #dadada;
}

.validate {
  font-size: 10px;
  color: #ba1212;
}

.form-control {
  margin: 3px;
}

.input {
  margin: 3px;
}

.input-wrong {
  margin: 3px;
  border: 1px solid #ba1212;
}
