.postItem {
  box-sizing: border-box;
  padding-left: 17px;
  padding-top: 14px;
  width: 239px;
  height: 183px;
  margin-top: 15px;
  margin-left: 13px;
  border: 1px solid #dadada;
}

.postTitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 4px;
}

.postContainer {
  display: flex;
  flex-wrap: wrap;
  left: 47px;
  top: 596px;
  border: 1px solid #dadada;
  margin: auto;
}

.postButton {
  width: 148px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 15px;
  margin-left: 10px;
  background: #101010;
  border: 1px solid #0d1e4b;
}

.buttonp {
  width: 200px;
  height: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container {
  margin-top: 117px;
  padding-top: 36px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.formContainer {
  margin-top: 30px;
}

.form {
  display: flex;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.textarea {
  box-sizing: border-box;
  width: 559px;
  height: 272px;
  left: 497px;
  top: 786px;
  border: 1px solid #dadada;
}

.input {
  margin: 3px;
}
