.userList {
  margin-top: 70px;
}

/* .userListBackground {
  position: relative;
  width: 1116px;
  height: 867px;
  left: 0px;
  top: -147px;
  background: url("../assets/6412a542721.png");
} */

.listContainer {
  display: flex;
  flex-wrap: wrap;
  left: 47px;
  top: 596px;
}
.listItem {
  box-sizing: border-box;
  padding-left: 17px;
  padding-top: 14px;
  width: 239px;
  height: 143px;
  margin-top: 15px;
  margin-left: 13px;
  border: 1px solid #dadada;
}

.list {
  color: #fff;
}

.userName {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 4px;
}

.userAddress {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */

  color: rgba(0, 0, 0, 0.41);
}

.button {
  width: 148px;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 25px;
  background: #101010;
  border: 1px solid #0d1e4b;
}

.buttonp {
  width: 108px;
  height: 15px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
